* {
    font-family: 'Open Sans', sans-serif;
    --offwhite: #f5f5f5
}

/* Body Styling */
body {
    background-color:var(--offwhite);
    color: rgb(2, 2, 2);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HERO IMAGE */
#hero-image {
    background: url(../smart-4168483_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 65%;
    height: 500px;
    position: relative;
}
/* NavBar */
.bg-light {
    background-color: transparent !important; 
}

#logo {
    margin-top: 10px;
    margin-left: 10px;
}

ul {
    margin-right: 20px;
}

li {
    display: inline;
    font-size: 27px;
    color: var(--offwhite);
    margin-left: 30px;
}   

a {
    color: var(--offwhite);
    text-decoration: none;
}

a:hover {
    color: var(--offwhite);
    opacity: 60%;
}

/* Main Content Styling */
main {
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
}

#about-me {
    font-size: 22px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#about-me a {
    color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

/* WELCOME TEXT STYLING */
.fade-in-text {
    font-size: 150px;
    color: var(--offwhite);
    overflow: hidden;
    border-right: 0.15em solid var(--offwhite);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
}

#welcome-hero {
    animation: animated-text 2s steps(7, end) 0.5s 1 normal both, animated-cursor 600ms steps(7, end) infinite;
    border-right: solid 3px var(--offwhite);
    font-family: 'Open Sans', sans-serif;
    font-size: 95px;
    color: var(--offwhite);
    margin-top: 10%;
}

/* PROJECT IMAGE SIZES */
.container {
    max-width: 85%;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 900px;
    max-height: 350px;
    overflow: hidden;
    position: relative;
}

.carousel .item {
    width: 100%;
    height: flex;
    display: flex;
    background-color: cornflowerblue;
    position: absolute;
    visibility: hidden;
    transition: 0.6s visibility linear;
}

.carousel .item .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.4;
    padding: 25px;
    text-align: justify;
    letter-spacing: 1.5;
    font-size: 14px;
}

.carousel .item .content h1 {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in;
}

.carousel .item .content p {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in;
}

.carousel .item .img {
    flex: 0.6;
    transform: translateY(100%);
}

.carousel .item .img img {
    width: 100%;
    height: 100%;
}

/* BUTTONS */
.buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: darkgrey;
    margin: 10px;
    z-index: 2;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.buttons .prev {
    border-right: 1px solid cornflowerblue;
    padding: 20px;
    cursor: pointer;
}

.buttons .next {
    padding: 20px;
    cursor: pointer;
}

.buttons .prev:active {
    background: darkblue;
}
.buttons .next:active {
    background: darkblue;
}

.carousel .item.active {
    z-index: 1;
    display: flex;
    visibility: visible;
}

.carousel .item.active .img {
    transition: 0.6s all ease-in-out;
    transform: translateX(0);
}

.carousel .item.item.active .content h1 {
    opacity: 1;
    transition: 0.6s all ease-in-out;
    visibility: visible;
}

.carousel .item.active .content p {
    transform: translateY(0);
    opacity: 1;
    transition: 0.6s all ease-in-out;
    visibility: visible;
}

@media only screen and (max-width: 768px){
    .carousel{
        max-height: 80%;
    }
    .carousel .item{
        flex-direction: column;
    }
}

/* FOOTER */
.portfolio .footer {
    background-color: cornflowerblue;
    color: whitesmoke;
    padding: 40px 100px 40px 100px;
}

.contact {
    text-align: center;
}


/* ANIMATION */

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 472px;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: var(--offwhite);
    }
    to {
        border-right-color: transparent;
    }
}

/* ABOUT ME TEXT STYLING */
.about-me-text {
    grid-row: 1;
    grid-column: 3 / 9;
}

/* WORK SECTION */

.work-header {
    padding-top: 6%;
    font-size: 36px;
    color: black;
    text-align: center;
}