body {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif; 
}

main {
    display: flex;
    margin: 2%;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 191%;
    width: 317px;
    height: 38px;
    margin-left: -40px;
    display: flex;
    flex-direction: row-reverse;
    color: rgb(42, 41, 80);
    background-color: rgb(65, 214, 225);
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    color: rgba(125, 240, 234, 0.295);
    font-weight: bold;
    text-decoration:none;
}

.background {
    background-image: url("../imgs/NightSky.jpg");
    background-color: #cccccc; 
    min-height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.left-side {
    margin: -11vh;
    padding: 50vh;
    margin-top: -50vh;
    margin-right: -36vh;
}

.right-side {
    display: block;
    margin-top: 50px;
    text-align: left;
    padding-right: 0vh;
    padding-bottom: 0vh;
}

.part-of-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 200px;
    margin-top: 50px;
}

.part-of-page > h2 {
    text-align: right;
    display: block;
    padding-right: 15px;
    padding-bottom: 17px;
    border-right: 3px solid red;
    font-size: 49px;
}

.spacing-right {
    text-align: right;
    display: block;
    padding-right: 15px;
    padding-bottom: 17px;
}

/* Below will be the work */

.big-content {
    background-image: url("/assets/imgs/sea-surf-wave.jpeg");
    background-repeat: no-repeat;
    width: 0vh;
    height:0vh;

}