* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    background-color:rgba(248, 248, 248, 0.979);
    color:rgb(104, 0, 0)
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background: rgb(42, 41, 80);
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 145%;
    width: 310px;
    height: 30px;
    margin-left: -40px;
    display: flex;
    flex-direction: row-reverse;
    color: rgb(42, 41, 80);
    background-color: rgb(65, 214, 225);
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
    padding: 1%;
}

nav a {
    color: rgba(125, 240, 234, 0.295);
    font-weight: bold;
    text-decoration:none;
}

.background {
    background-image: url("/assets/NightSky.jpg");
    background-color: #cccccc; 
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

aside {
    flex: 30%;
    padding: 0px;
    flex-wrap: wrap;
    text-align: center;
}